/* @theme owen */
/* Styles for slides only, they don't work on github.com */
@import 'default';

/* PROJECT-SPECIFIC
***********************************************************/
h1 {
    color: #333;
}

/* TEXT
***********************************************************/
.caption {
    color: #888;
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

.slides-small {
    font-size: .65rem !important;
    line-height: .9rem !important;
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

section {
    background-color: #fff;
    color: #333;
}

/* LAYOUT
***********************************************************/
.block {
    display: block;
}

/* Create two col layout */
.twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
}

/* ICONS + TEXT ADDITIONS
***********************************************************/
/* Adds "Page" prefix and total page number. Local pagination directive still required */
section::after {
    font-size: .9rem !important;
    content: attr(data-marpit-pagination) ' / 'attr(data-marpit-pagination-total);
}

.back-icon {
    margin-top: 20px;
}

/* adds an external link icon after a.target=_blank */
a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}
